html { 
  background: url('./court_background.png') no-repeat center center fixed; 
  background-size: cover;
}

/* body {
   background-image: url('./court_background.png');
   background-repeat: no-repeat;
   background-size: cover;
   height: 100%; 
 } */
 
 .dropbtn {
     background-color: #04AA6D;
     color: white;
     padding: 16px;
     font-size: 20px;
     border: none;
   }
 
   .dotPG {
    margin-right: 420px;
    margin-top: 0px;
    float: right;
    float: top;
  }

  .dotSG {
    margin-right: -120px;
    margin-top: 230px;
    float: right;
    float: top;
  }

  .dotSF {
    margin-right: -120px;
    margin-top: -230px;
    float: right;
    float: top;
  }

  .dotPF {
    margin-right: -310px;
    margin-top: 120px;
    float: right;
    float: top;
  }

  .dotC {
    margin-right: -310px;
    margin-top: -116px;
    float: right;
    float: top;
  }

  .playerName {
    bottom: 10px;
  }


  #brandsalary{
    background-position: 50% 75%;
  }

#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  flex-wrap: flex;
  object-fit: contain;
  background-position: 50% 70%;
  margin-top: 60px;
  transition: all 0.2s ease-in; 
  
}

#image:hover {
  transform: scale(1.2);
  margin-top: 20px;
  cursor: url("https://cur.cursors-4u.net/sports/images2/spo145.gif"), auto;
}


#teamnamefill{
text-align: center;
}

#singleplayer{
  text-align: center;
  }

  #SalaryCap{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    flex-wrap: flex;
  }


#teaminformation h1{
  margin-top: 0%;
}

#teaminformation{
  margin-left: 30px;
}

#select-info{
  display: flex;
  align-items: flex-start;
}

.playerHeadshots {
  width: 130px;
  transition: all 0.2s ease-in; 
}

.playerHeadshots:hover {
  transform: scale(1.5);
}

#starters {
position: absolute;
top: 50%;
right: -5%;
transform: translateY(-20%);
cursor: url("https://cur.cursors-4u.net/sports/images2/spo145.gif"), auto;


}

/* (A) FIXED WRAPPER */
.hwrap {
  overflow: hidden; /* HIDE SCROLL BAR */
  background: black;
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  font-size: 20px;
  color: white;
}
 
/* (B) MOVING TICKER WRAPPER */
.hmove { display: flex; }

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
  flex-shrink: 0;
  width: 80%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}
 
/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@keyframes tickerh {
  0% { transform: translate3d(100%, 0, 0); }
  100% { transform: translate3d(-800%, 0, 0); }
}
.hmove { animation: tickerh linear 120s infinite; }
.hmove:hover { animation-play-state: paused; }


#select-info{
  margin-top: 40px;
  margin-left: 40px;
}


#nbalogo {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

body {
  cursor: url(‘https://upload.wikimedia.org/wikipedia/commons/7/7a/Basketball.png’), auto;
}

#singleplayer{
  background-color: beige;
  width: 600px;
  text-align: center;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#video{
  margin-bottom: 200px;
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 3%;
  top: 40%;
}